.hero {
  background-image: linear-gradient(
    90deg,
    rgba(1, 1, 1, 0.6),
    rgba(1, 1, 1, 0) 54%,
    rgba(1, 1, 1, 0)
  );
  height: 100%;
  overflow: hidden;
}

.hero .container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-bg-video-des {
  color: #fff;
  margin-bottom: 50px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.hero-bg-video-title {
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 52px;
  line-height: 57.2px;
}

.hero video, .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

.hero-bg-video-left {
  max-width: 670px;
  z-index: 10;
}

.hero-bg-video-overlay-horizontal {
  background-image: linear-gradient(
    90deg,
    rgba(1, 1, 1, 0.6),
    rgba(1, 1, 1, 0) 54%,
    rgba(1, 1, 1, 0)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.hero-bg-video-overlay-vertical {
  background-image: linear-gradient(
    rgba(1, 1, 1, 0.5),
    rgba(1, 1, 1, 0.2) 14%,
    rgba(1, 1, 1, 0.3) 57%,
    rgba(1, 1, 1, 0.7)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.button-primary {
  color: #173b3f;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #0fddcc;
  border-radius: 6px;
  margin-right: 0;
  padding: 15px 30px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  display: inline-flex;
}

.hero-bg-video-counters {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.hero-bg-video-counter-card {
  border-left: 1px solid #000;
  border-image: linear-gradient(#fff, rgba(0, 0, 0, 0)) 1 100%;
  width: 100%;
  max-width: 232.5px;
  height: auto;
  min-height: 100px;
}

.hero-bg-video-counter-value-wrapper {
  border-left: 3px #fff;
  justify-content: flex-start;
  align-items: center;
  height: 39px;
  margin-bottom: 5px;
  display: flex;
}

.hero-bg-video-counter-value-wrapper-counter-text {
  color: #a9c3d0;
  margin-top: 6px;
  padding-bottom: 40px;
  padding-left: 20px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 19.6px;
}

.component-counter {
  color: #fff;
  border-left: 3px #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: Inter, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31.47px;
  display: block;

  color: #fff;
  border-left-style: none;
  border-left-width: 0;
  margin-top: 3px;
  margin-bottom: 0;
  padding-left: 19px;
}
