name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: npm install

    - name: Build React App
      run: npm run build

    - name: Add SSH Key
      run: |
        echo "${{ secrets.EC2_SSH_KEY }}" | tr -d '\r' > key.pem
        chmod 400 key.pem

    - name: Copy files to EC2
      run: |
        scp -i key.pem -o StrictHostKeyChecking=no -r dist/* ubuntu@54.152.132.123/:/var/www/html/
